* {
  font-family: "Roboto", serif;
}

/* Remover as setinhas nos campos input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: textfield; /* Para outros navegadores */
}

body {
  background-color: #1E1E2F;
  color: #9CA3AF;
}

.corpo-site {
  margin: 20px 50px;
}

.bg-primary {
  background-color: #3B82F6 !important;
  color: #F0F0F5 !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #F0F0F5;
}

.titulo {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}

.titulo-azul {
  color: #3B82F6 !important;
}

.cor-am {
  color: #F0F0F5 ;
}

.voltarBtn, .voltarBtnGerenciamento {
  cursor: pointer;
}

.col-esquerda {
  border-right: 2px solid #9CA3AF;
}

.underline {
  text-decoration: underline;
}

.titulo-pagina {
  border-bottom: 2px solid #F0F0F5;
  margin-bottom: 3vh;
}

.table tr td {
  background-color: #1E1E2F !important;
  color: #F0F0F5;
}

.table tr th {
  text-transform: uppercase;
}

.bg-primary a {
  color: #F0F0F5 !important;
}

.table-centro tr td,
.table-centro tr th {
  vertical-align: middle !important;
  text-align: center;
}

.bg-secundary {
  background-color: #9CA3AF !important;
}

.tituloNav {
  font-size: 27px;
}

.nav-item {
  transform: scale(1);
  transition: 0.3s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.painel {
  background-color: #2B2C3B;
  border-radius: 5px;
  padding: 10px;
  border: 0.5px solid #3F3F46;
}

/* MODO ESCURO */

/* Estilizando o form-select no modo escuro */
.form-select {
  background-color: #2B2C3B;
  color: #9CA3AF;
  border-color: #9CA3AF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-select:focus {
  background-color: #2B2C3B;
  border-color: #9CA3AF;
  box-shadow: none;
}

/* Estilizando a op��o do select */
.form-select option {
  background-color: #333;
  color: #fff;
}

.form-select option:focus {
  background-color: #444;
  color: #fff;
}

/* Estilizando o placeholder (se houver) */
.form-select::placeholder {
  color: #aaa;
}

.conteiner-login {
  width: 80%;
  margin: 0 auto;
}

.btn-primary {
  background-color: #F0F0F5 !important;
  color: #9CA3AF !important;
  border: none;
}

/*deixar bot�o maior no hover*/
.btn-expansivo {
  transition: all 0.3s ease;
}

.btn-expansivo:hover {
  transform: scale(1.1);
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: center;
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: center;
}

/* MODAL */

/* Estilos personalizados para a modal */
.modal-content,
.modal-body {
  background-color: #1E1E2F !important; /* Cor de fundo */
  color: #9CA3AF !important; /* Cor do texto */
}

.modal-header {
  border-bottom: 1px solid #444; /* Cor da borda do cabe�alho */
}

.modal-footer {
  border-top: 1px solid #444; /* Cor da borda do rodap� */
}
.modal-header .btn-close {
  background-color: #F0F0F5;
  opacity: 1;
}

.modal-header .btn-close:hover {
  background-color: #ccc; /* Cor ao passar o mouse */
}

.modal-title {
  color: #F0F0F5;
}

.form-control {
  display: block;
  width: 100%;
  color: #9CA3AF;
  border-color: #3F3F46 !important;
  background-color: #2B2C3B;
}

.form-control:focus {
  color: #9CA3AF;
  background-color: #2B2C3B;
  border-color: #9CA3AF;
  box-shadow: none !important;
}

.table {
  --bs-table-hover-color: #9CA3AF;
  --bs-table-hover-bg: #494949;
}

.border-parcelado {
  padding-top: 10px;
  border-top: 2px solid #9CA3AF;
  display: none;
}

.botao {
  font-size: 30px;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.4s;
}

.botao:hover {
  opacity: 1;
}

@media (max-width: 1600px) {
  .responsivo1600 .col-lg-6 {
    float: none;
    width: 100%;
  }

  /* So aplica o border-bottom na primeira .col-lg-6 */
  .responsivo1600 .col-lg-6:first-of-type {
    float: none;
    width: 100%;
    border-bottom: 2px solid #9CA3AF; 
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .col-esquerda {
    border-right: none;
  }
}

@media (min-width: 1600px) {
.nav-item {
  font-size: 0.9vw;
}
}


.form-select {
    background-color: #2B2C3B;
    color: #F0F0F5;
    border-color: #3F3F46;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

/* GERENCIAMENTO */

.quadrado {
  position: relative;
  width: 100%;
  padding-top: 60%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.quadrado:hover {
  transform: scale(1.03);
}

.quadrado .conteudo-centralizado {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cartao-box {
  position: relative;
  width: 100%;
  padding-top: 60%;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.cartao-box:hover {
  transform: scale(1.03);
  background-color: #181c147c;
}

.cartao-conteudo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-pagina i {
  color: #3B82F6;
}

.cartao-conteudo i {
  font-size: 3rem;
  color: #9CA3AF ;
}

.cartao-nome {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 500;
}

.botoes-cartao {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  z-index: 10;
}

.botoes-cartao .btn {
  padding: 2px 6px;
  font-size: 0.75rem;
  border-radius: 4px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(161%) hue-rotate(173deg) brightness(95%) contrast(87%);
}

.form-select {
  appearance: none; /* remove aparência nativa */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%239CA3AF ' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

#adicionarCartao {
  cursor: pointer;
}

.painel .form-control{
  background-color: #2C2C44 !important;
  color: #FAFAFA !important;
}

.painel .form-control:focus {
  border: 1px solid #FAFAFA !important;
  box-shadow: none !important;
}


.cartao-bloco {
  display: inline-block;
  text-align: center;
  line-height: 1;
}

.cartao-icon {
  font-size: 4vw;
  color: #4d88ff;
  display: block;
  line-height: 1;
}

.cartao-label {
  color: #ccc;
  padding: 2px 0;
  font-size: 1.1vw;
  border-radius: 4px;
  line-height: 1;
}


.botoesCartao {
  font-size: 1.5vw;
  color: #ccc !important;
  cursor: pointer;
}

.cartao-animado {
  transition: all 0.2s ease;
  opacity: 1;
}

/* CATEGORIAS */
.adicionarNovo {
  font-size: 1.6em;
  color: #3B82F6;
  transform: scale(1);
  transition: transform 0.3s ease;
  display: inline-block; 
  cursor: pointer; 
}

.adicionarNovo:hover {
  transform: scale(1.1); 
}

